<template>
  <div>
       <div class="row clearfix"> 
           <div class="col-md-12">
                 <h4 class="card-title">Audit Log</h4>
            </div>
            <div class="col-md-3"> 
                <div class="row">
                    <div class="col-md-12">
                        <a href="#" class="nav-link" @click.prevent="redirectToIpPage">
                            <monitor-icon  size="1.5x"></monitor-icon>&nbsp;
                            <span>Home</span>
                        </a>
                    </div>
                    <div class="col-md-12">
                        <a href="#" class="nav-link" @click.prevent="logout">
                            <logout-icon  size="1.5x"></logout-icon>
                            <span>Log Out</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-8"> 
                <b-table striped hover :items="list" :fields="fields">
                        <template v-slot:cell(ip)="data"> 
                        <div class="btn-toolbar" v-if="data.item.ip_address">
                                <span>{{ data.item.ip_address.ip }}</span>
                        </div>  
                    </template> 
                    <template v-slot:cell(user)="data"> 
                        <div class="btn-toolbar">
                                <span>{{ data.item.user.username }}</span>
                        </div>  
                    </template> 
                </b-table>
            </div>
        </div>
  </div>
</template>

<script>
import { Loader } from "@/components";
import { mapState, mapGetters, mapMutations } from "vuex"; 
export default {
    name: 'default-page', 

    data() {
        let self = this;
        return {  
            title: "Audit Log",
            fields: ['created_at', 'activity', 'status', 'ip', 'old_data', 'new_data', 'user'], 
            items: [],
        }
    },
    async mounted(){
       this.getList()  
    },

    computed: {  
        ...mapState("audit", [
            "list", 
            "errors", 
        ]), 
    },  

    methods: {
        ...mapMutations("user", ["logout"]), 
        redirectToIpPage(){
            this.$router.push('/')
        },
        async getList() { 
            await this.$store.dispatch("audit/getAuditLogs"); 
        },
    }
}
</script> 