<template>
  <div>
     

  </div>
</template>

<script>
import { Loader } from "@/components";
import { mapState, mapGetters} from "vuex"; 
export default {
    name: 'default-page', 

    data() {
        let self = this;
        return { 
        }
    },
    created() {     
         
    },

    computed: {  
 
    },  

    methods: {
        
    }
}
</script> 