<template>
  <div>  
      <div class="row clearfix"> 
        <div class="col-md-12">
            <h4 class="card-title">IP Addresses</h4>
        </div>
        <div class="col-md-4"> 
            <div class="row">
                <div class="col-md-12"> 
                    <b-form-group 
                        label="IP:" 
                        label-for="ip"
                        :state="isValid('ip')"
                        :invalid-feedback="errorMessage('ip')"
                    >
                        <b-form-input
                            id="ip"     
                            v-model="form.ip"
                            :disabled="ipDisable"
                        ></b-form-input>
                    </b-form-group> 
                </div>
                <div class="col-md-12"> 
                    <b-form-group 
                        label="Label:" 
                        label-for="label"
                        :state="isValid('label')"
                        :invalid-feedback="errorMessage('label')"
                    >
                        <b-form-input
                            id="label"     
                            v-model="form.label"
                        ></b-form-input>
                    </b-form-group> 
                </div>
            </div> 
                <div class="row"> 
                <div class="col-sm-12  grid-margin stretch-card">  
                    <button type="button" 
                            class="btn btn-sm btn-primary mr-2 active" 
                            data-toggle="tooltip" 
                            title="Save"
                            @click="save()">
                        <save-icon size="1.5x" ></save-icon> Save
                    </button>   
                    <button type="button" 
                            class="btn btn-sm btn-secondary mr-2 active" 
                            data-toggle="tooltip" 
                            title="Save"
                            @click="clearForm()">
                        Clear
                    </button>   
                </div> 
            </div>
            <div class="row">
                <div class="col-md-12">
                    <a href="#" class="nav-link" @click.prevent="redirectToAuditPage">
                        <monitor-icon  size="1.5x"></monitor-icon>&nbsp;
                        <span>Audit Log</span>
                    </a>
                </div>
                <div class="col-md-12">
                    <a href="#" class="nav-link" @click.prevent="logout">
                        <logout-icon  size="1.5x"></logout-icon>
                        <span>Log Out</span>
                    </a>
                </div>
            </div> 
        </div>
        <div class="col-md-8">  
            <b-table striped hover :items="list" :fields="fields">
                <template v-slot:cell(actions)="data"> 
                    <div class="btn-toolbar">
                        <button type="button"  
                                class="btn btn-info mr-2 active" 
                                data-toggle="tooltip" 
                                title="Logs"
                                @click="edit(data)">
                            <edit-icon size="1x" ></edit-icon> 
                        </button>   
                    </div>  
                </template> 
            </b-table>
        </div> 
    </div> 
      <loader :isLoading="loading"></loader> 
  </div>
</template>

<script>
import { Loader } from "@/components";
import { mapState, mapGetters, mapMutations } from "vuex"; 
export default {
    name: 'ip-addresses', 
    components: {
        Loader,  
    }, 
    data() {
        let self = this;
        return { 
            ipDisable: false,
            isEdit: false,
            loading: false,
            title: "Ip Addresses",
            form: {
                id: null,
                ip: null,
                label: null, 
            }, 
            fields: ['ip', 'label', 'actions'], 
        }
    },
   
    async mounted(){
       this.getList()
    },

    computed: {  
         ...mapState("ipaddress", [
            "list", 
            "errors", 
        ]), 
    },  

    methods: {
        ...mapMutations("user", ["logout"]), 
        async getList() { 
            await this.$store.dispatch("ipaddress/getList"); 
        },
        viewLogs(item){
            console.log(item);
        },
        edit(data){
            const item = data.item
            this.isEdit = true;
            this.ipDisable = true;
            this.form.ip = item.ip
            this.form.id = item.id
            this.form.label = item.label 
        }, 
        async save(){ 
            this.loading = true;  
             
            if(this.isEdit){    //update 
                this.$store.commit("ipaddress/setData", this.form);  
                await this.$store
                .dispatch("ipaddress/update")
                .then(() => {   
                    if(this.errors == null) {           
                        this.clearForm(); 
                    } 
                });  
            } else {    //add
                this.$store.commit("ipaddress/setData", this.form);  
                await this.$store
                .dispatch("ipaddress/add")
                .then(() => {   
                    if(this.errors == null) {           
                        this.clearForm(); 
                    } 
                });  
            } 
            this.loading = false; 
            this.getList()
        }, 
        //validations
        errorMessage(field) {    
            if (this.errors == null) {
                return "";
            }       
            return this.errors.errors[field];
        },
        
        isValid(field) {   
            if (this.errors == null) {
                return false;
            }  
            return this.errors.errors[field] ? false : true;
        }, 
        clearForm(){  
            this.isEdit = false;
            this.ipDisable = false;
            this.form.ip = null;  
            this.form.label = null;  
            this.$store.commit("ipaddress/errors", null);  
        },
        redirectToAuditPage(){
            this.$router.push('/audit-log')
        }
    }
}
</script> 