<template>
    <div>
         <div class="row">
        <div class="col-md-12 grid-margin stretch-card">
            <card class="card" title="Login" :backButton="false"> 
                 <div class="row clearfix">
                    <div class="col-md-12"> 
                        <form class="forms-sample">  
                            <b-form-group 
                                label="Username" 
                                label-for="username"
                                :state="isValid('username')"
                                :invalid-feedback="errorMessage('username')"    
                            >
                                <b-form-input
                                    id="username"                    
                                    placeholder="Username"
                                    v-model="form.username"
                                    @keypress.enter.native="login()"
                                ></b-form-input>
                            </b-form-group>

                            <b-form-group 
                                label="Password" 
                                label-for="password"
                                :state="isValid('password')"
                                :invalid-feedback="errorMessage('password')"    
                            >
                                <b-form-input
                                    id="password"                    
                                    placeholder="Password"
                                    type="password"
                                    v-model="form.password"
                                    @keypress.enter.native="login()"
                                ></b-form-input>
                            </b-form-group>
                                
                            <div class="mt-3"> 
                                <b-button type="button" variant="primary" @click.prevent="login">Login</b-button>  
                            </div>                
                        </form> 
                    </div>
                 </div>
                
            </card>
        </div>
      </div> 
    </div> 
 
</template>

<script>
import { Loader } from "@/components";
import { mapState, mapGetters} from "vuex";

export default {
    name: 'login_merchant', 
    components: {
        Loader, 
    }, 

    data() {
        return { 
            loading: false,
            form: { 
                username: null,
                password: null,
            } 
        }
    },

    created(){
        
    },

    computed: {
         ...mapState("user", ["errors", "data"]),
    },

    methods: { 
        login: async function() { 
            
            this.loading = true;  
 
            this.$store.commit("user/setData", this.form);
            await this.$store
            .dispatch("user/login")
        
            this.loading = false;
        },  
 
        errorMessage(field) {    
            if (this.errors == null) {
                return "";
            }       
            return this.errors.errors[field];
        },
        
        isValid(field) {   
            if (this.errors == null) {
                return false;
            } 
            
            return this.errors.errors[field] ? false : true;
        }, 
    }

}
</script> 