<template>
    <div class="vld-parent">
        <loading 
        :active.sync="isLoading" 
        :is-full-page="fullPage"
        :color="color"
        :background-color="bgColor"
        :loader="loader"
        :height="height"
        :width="width"
        >
        </loading> 
    </div>
</template>

<script>
    // Import component
    import Loading from 'vue-loading-overlay';
    // Import stylesheet
    import 'vue-loading-overlay/dist/vue-loading.css';
    
    export default {
        name: "loader",
        props: { 
            isLoading: Boolean
        },
        data() {
            return { 
                fullPage: true,
                color: "#007bff",
                bgColor: "#ffffff",
                loader: "dots",
                height: 128,
                width: 128
            }
        },
        components: {
            Loading
        },
        // methods: {
        //     doAjax() {
        //         this.isLoading = true;
        //         // simulate AJAX
        //         setTimeout(() => {
        //           this.isLoading = false
        //         },5000)
        //     },
        //     onCancel() {
        //       console.log('User cancelled the loader.')
        //     }
        // }
    }
</script> 